/* reset CSS style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.colo{
    color: cyan;
    background-color: black;
    font-size: xx-large;
    width: 300px;
    margin: auto ;
    margin-top: 50px ;
}
.text{
    text-decoration: none;
}
